/* line 2, ../sass/aiwtc.scss */
body {
  background: url("../images/background.gif") repeat;
  overflow-y: hidden;
}

/* line 9, ../sass/aiwtc.scss */
h1,
h2,
h3 {
  margin: 0px;
}

/* line 13, ../sass/aiwtc.scss */
#header_bar {
  background-color: #444;
  color: #fff;
  height: 70px;
  width: 100%;
}
/* line 19, ../sass/aiwtc.scss */
#header_bar #header_profile {
  float: right;
  border-radius: 10px;
  background-color: #626161;
  margin: 8px;
  height: 52px;
  min-width: 200px;
}
/* line 27, ../sass/aiwtc.scss */
#header_bar #header_profile h2 {
  float: left;
}
/* line 31, ../sass/aiwtc.scss */
#header_bar #header_profile a {
  height: 54px;
  border-radius: 10px;
  width: 100%;
}
/* line 37, ../sass/aiwtc.scss */
#header_bar #header_profile img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 50px;
  width: 50px;
  float: right;
  margin: 1px;
}

/* line 53, ../sass/aiwtc.scss */
#pushobj {
  margin-top: 70px;
  postion: relative;
}

/* line 58, ../sass/aiwtc.scss */
i.fa-reorder {
  background: url("../images/toggle.png") no-repeat;
  height: 25px;
  width: 25px;
}

/* line 64, ../sass/aiwtc.scss */
.multilevelpushmenu_wrapper li {
  width: 100px;
  height: 100px;
  background: url("../images/button_background.gif") repeat-x;
}
/* line 69, ../sass/aiwtc.scss */
.multilevelpushmenu_wrapper li:hover {
  background: url("../images/button_background_hover.gif") repeat-x;
}

/* line 74, ../sass/aiwtc.scss */
#menu ul a {
  height: 100px;
  width: 100px;
  float: left;
  margin: 5px 6px;
  padding: 0px;
  border: 1px solid #626161;
}

/* ---------- LOG IN -----------*/
/* line 84, ../sass/aiwtc.scss */
.input {
  border: 1px solid #AB0013;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 200px;
  min-height: 50px;
  padding: 0px 0px 0px 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
  color: #444;
  outline: 0;
  margin-right: 5px;
}
/* line 98, ../sass/aiwtc.scss */
.input:hover {
  box-shadow: inset 0 1px 2px #fbb277, 0 0 5px #ab0013;
}
