@font-face {
  font-family: 'patrickhand-regular';
  src: url("fonts/patrickhand-regular.eot");
  src: url("fonts/patrickhand-regular.eot?#iefix") format("embedded-opentype"), url("fonts/patrickhand-regular.woff") format("woff"), url("fonts/patrickhand-regular.ttf") format("truetype"), url("fonts/patrickhand-regular.svg#patrick_handregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 14, ../sass/aiwtc.scss */
body {
  background: url("../images/background.gif") repeat;
  overflow: hidden;
}

/* line 19, ../sass/aiwtc.scss */
.page-container {
  width: 100%;
  height: 100%;
}

/* line 24, ../sass/aiwtc.scss */
h1 {
  font-family: 'patrickhand-regular';
  color: #e60a1e;
}

/* line 30, ../sass/aiwtc.scss */
h2,
h3 {
  font-family: "open sans";
  margin: 0px;
}

/* line 35, ../sass/aiwtc.scss */
p {
  font-family: "open sans";
}

/* line 39, ../sass/aiwtc.scss */
#header_bar {
  background-color: #444;
  color: #fff;
  height: 70px;
  width: 100%;
  position: fixed;
}
/* line 46, ../sass/aiwtc.scss */
#header_bar #header_profile {
  float: right;
  border-radius: 10px;
  background-color: #626161;
  margin: 8px;
  height: 52px;
  min-width: 200px;
}
/* line 54, ../sass/aiwtc.scss */
#header_bar #header_profile h2 {
  float: left;
}
/* line 58, ../sass/aiwtc.scss */
#header_bar #header_profile a {
  height: 54px;
  border-radius: 10px;
  width: 100%;
}
/* line 64, ../sass/aiwtc.scss */
#header_bar #header_profile img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 50px;
  width: 50px;
  float: right;
  margin: 1px;
}

/* line 76, ../sass/aiwtc.scss */
#menu {
  position: fixed;
  top: 70px;
}

/* line 81, ../sass/aiwtc.scss */
#pushobj {
  margin-top: 70px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

/* line 88, ../sass/aiwtc.scss */
i.fa-reorder {
  background: url("../images/toggle.png") no-repeat;
  height: 25px;
  width: 25px;
  display: none;
}

/* line 95, ../sass/aiwtc.scss */
.multilevelpushmenu_wrapper li {
  width: 100px;
  height: 100px;
  background-color: #fff;
}
/* line 100, ../sass/aiwtc.scss */
.multilevelpushmenu_wrapper li:active {
  background-color: #e60a1e;
  color: #fff;
}

/* line 106, ../sass/aiwtc.scss */
#menu ul a {
  height: 100px;
  width: 100px;
  float: left;
  margin: 5px 6px;
  padding: 0px;
  border: 1px solid #626161;
}

/* ---------- LOG IN -----------*/
/* line 116, ../sass/aiwtc.scss */
.input {
  border: 1px solid #e60a1e;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 200px;
  min-height: 50px;
  padding: 0px 0px 0px 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: "open sans";
  color: #444;
  outline: 0;
  margin-right: 5px;
}

/* ---------- RESPONSIVE ----------- */
/*@media (min-width: 300px) {
	i.fa-reorder {
		display: none; 
	}
}*/
