
@font-face {
    font-family: 'patrickhand-regular';
    src: url('fonts/patrickhand-regular.eot');
    src: url('fonts/patrickhand-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/patrickhand-regular.woff') format('woff'),
         url('fonts/patrickhand-regular.ttf') format('truetype'),
         url('fonts/patrickhand-regular.svg#patrick_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html.logged-in body {
	background-color: #e60a1e;
	overflow: hidden;
}

html.logged-out body {
	background: url("/images/red_background.png") repeat;
	color: #fff;
}

.page-container{
	width: 100%;
	height: 100%;
}

h1 {
	font-family: 'patrickhand-regular';
	color: #fff;
}

h2,
h3 {
	font-family: "open sans";
	margin: 5px;
	font-weight: 300;
}

h2 {
	font-size: 20px;
}

p {
	font-family: "open sans";
	font-size: 14px;
}

a {
	color: #fff;

	&:hover,
	&:active {
		color: #fff;
	}
}

/* ---------- LOGIN PAGE ------------*/

img.login_logo {
	width:100%;
	height: auto;
}

body.login #boxes {
	padding-top: 121px;
}

body.login #register_boxes {
	visibility: hidden;
}

.text-input {
	border: 1px solid #e60a1e;
	border-radius: 3px;
	height: 50px;
	padding: 0px 0px 0px 10px;
	font-size: 15px;
	font-family: "open sans";
	color: #444;
	outline: 0;
}

.submit {
	background-color: #e43949;
	border-radius: 3px;
	border: 1px solid #d60319;
	height: 50px;
	outline: 0;
}

::-webkit-input-placeholder {
   font-family: "open sans";
}

:-moz-placeholder { /* Firefox 18- */
   font-family: "open sans"; 
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: "open sans"; 
}

:-ms-input-placeholder {  
   font-family: "open sans";
}

/* ----------  -----------*/

#header_bar{
	background-color: #444;
	color: #fff;
	height: 70px;
	width: 100%;
	position: fixed;

	#header_profile{
		float: right;
		border-radius: 10px;
		background-color: #626161;
		margin: 8px;
		height: 52px;
		min-width: 200px;

		h2 {
			float: left;
		}

		a {
			height: 54px;
			border-radius: 10px;
			width: 100%;
		}

		img {
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			height: 50px;
			width: 50px;
			float: right;
			margin: 1px;
		}

	}
}

#menu {
	position: fixed;
	top: 70px;
	border-right: #fff 2px solid;

	ul a {
		margin: 2px 0;
		padding: 0px;

		li {
			width: 100%;
			height: 50px;
			background-color: #e43949;
			font-family: 'patrickhand-regular';

			&:active{
				background-color: #e60a1e;
				color: #fff;
			}
		}
	}
}

#pushobj{
	margin-top: 70px;
	//width: 100%;
	height:100%;
	overflow-y: scroll;
}

i.fa-reorder{
	background: url("../images/toggle.png") no-repeat;
	height: 25px;
	width: 25px;
	display: none;
}