
body {
	background: url("../images/background.gif") repeat;
	overflow-y: hidden;
}

h1,
h2,
h3 {
	margin: 0px;
}

#header_bar{
	background-color: #444;
	color: #fff;
	height: 70px;
	width: 100%;

	#header_profile{
		float: right;
		border-radius: 10px;
		background-color: #626161;
		margin: 8px;
		height: 52px;
		min-width: 200px;

		h2 {
			float: left;
		}

		a {
			height: 54px;
			border-radius: 10px;
			width: 100%;
		}

		img {
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			height: 50px;
			width: 50px;
			float: right;
			margin: 1px;
		}

	}
}

#menu{
	
}

#pushobj{
	margin-top: 70px;
	postion: relative;
}

i.fa-reorder{
	background: url("../images/toggle.png") no-repeat;
	height: 25px;
	width: 25px;
}

.multilevelpushmenu_wrapper li{
	width: 100px;
	height: 100px;
	background: url("../images/button_background.gif") repeat-x;

	&:hover{
		background: url("../images/button_background_hover.gif") repeat-x;
	}
}

#menu ul a{
	height: 100px;
	width: 100px;
	float: left;
	margin: 5px 6px;
	padding: 0px;
	border: 1px solid #626161;
}

/* ---------- LOG IN -----------*/
.input{
	border: 1px solid #AB0013;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	width:200px;
	min-height: 50px;
	padding: 0px 0px 0px 10px;
	font-size: 15px;
	font-weight: bold;
	font-family: arial;
	color: #444;
	outline: 0;
	margin-right: 5px;

	&:hover{
		box-shadow: inset 0 1px 2px rgba(251,178,119,1),0 0 5px rgba(171,0,19,1);
	}
}